@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Register Page";
}

<script runat="server">

    void Page_Load(Object sender, EventArgs e)
    {
        // Manually register the event-handling method for
        // the Click event of the Button control.
        Button1.Click += new EventHandler(this.register);
    }

    [AcceptVerbs(HttpVerbs.Post)]
    void register(Object sender,
                           EventArgs e)
    {
        // When the button is clicked,
        // write the new user to the database
         Button clickedButton = (Button)sender;
        @using t2sDbLibrary;
        @{
            SqlController controller = new SqlController();
            UserDAO user = new UserDAO();
          //  String fNamee = ;
           // htmltextbox.Value = "Value from database";
          //  user.FirstName= @
           // controller.CreateUser();
            
                

            
        }    
       
        
    }

</script>

@section featured {
<section class="featured">
    <div class="content-wrapper">

        
    </div>
</section>
}

<h3>Register as a New User</h3>
<p> 
   
    <pre> First Name</pre>
    @Html.TextBox("firstname")
    <pre> Last Name</pre>
    @Html.TextBox("lastname")
    <pre> User Name</pre>
    @Html.TextBox("username")
    <pre> Password</pre>
    @Html.TextBox("password")
    <pre> Phone Number</pre>
    @Html.TextBox("phone")
    <pre> Phone Carrier</pre>
    @Html.TextBox("carrier")<br />
    <input id="Button1" type="button" value="Register" onclick ="register"/> 
</p> 


